body { 

    color: white !important; 

    background-color: white;



}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.vertical-center {
     min-height: 85vh; 


  display: flex;
  align-items: center;
}

#login {
    position: relative;
  

    color: black;


    
}

#scores {
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    width: 100%;
    margin-top: 15%;

    color: black;
  
    -webkit-box-shadow: 0px 7px 17px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 17px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 17px -3px rgba(0,0,0,0.75);
    
}


input {

-webkit-appearance: none;
    padding:8px;
    border: none;
    border-radius: 1px;
    width: 90%;
    border-radius: 10px;

    -webkit-box-shadow: 3px 4px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 12px -3px rgba(0,0,0,0.75);
}



.round{
    margin-left: -55px;
    transform: translateY(-2px);
    background-color: transparent !important;
    border: none;
}

.alert-danger{
    background-color: red !important;
    color: white !important;

    border: none !important;
}