body { 

    color: black !important; 

    background-color: white;

}

input:focus, textarea:focus, select:focus{
    outline: none;
}


input[type="text"] {

-webkit-appearance: none;
    padding:8px;
    border: none;
    border-radius: 1px;
    width: 90%;
    border-radius: 10px;

    -webkit-box-shadow: 3px 4px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 12px -3px rgba(0,0,0,0.75);
}

input[type="checkbox"] {

    width: 2%;

}

.round{
    margin-left: -50px;
    transform: translateY(-2px);
    background-color: transparent !important;
    border: none;
}

.roundb{
    transform: translateY(-2px);

    background-color: transparent !important;
    border: none;
}
.alert-danger{
    background-color: red !important;
    color: white !important;

    border: none !important;
    border-radius: 0% !important;
}
.vertical-center {
    min-height: 80vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }